* {
    box-sizing: border-box;
}
body {
    background-color: #f4be94;
    
}
.weather {
    width: 500px;
    height: 300px;
    background-color:aquamarine;
    margin: 100px auto;
    color: blue;
    border-radius: 10px;
}

h1 {
    color: #de00ff;
    text-align: center;
    padding-top: 20px;
    font-size: 30px;
    text-transform: uppercase;
}
.weather-top-text {
    display: flex;
    align-items: center;
    height: 150px;
}
.weather-top-text-one {
    width: 230px;
    font-size: 35px;
    text-align: center;
    list-style-type: none;


}

.weather-top-text-two img {
    width: 90px;
    height: 90px;
    display: block;
  
}
.weather-top-text-three {
    font-size: 18px;
    width: 160px;
    text-align: center;
    list-style-type: none;
   
}
.weather-top-pack {
    display: flex;
    height: 40px;
    align-items: center;
   margin-left: 40px;
}
.weather-top-pack span {
    margin-right: 10px;
}
.weather-top-pack-box {
    display: flex;
    padding: 0 30px;
    list-style-type: none;
}
.weather-top-pack-wind {
    display: block;
    width: 20px;
    height: 20px;
    background-image: url(images/wind.svg);
    background-position: center;
    background-repeat: no-repeat;
}
.weather-top-pack-humidity {
    display: block;
    width: 20px;
    height: 20px;
    background-image: url(images/humidity.svg);
    background-position: center;
    background-repeat: no-repeat;
}
.weather-top-pack-meter {
    display: block;
    width: 20px;
    height: 20px;
    background-image: url(images/meter.svg);
    background-position: center;
    background-repeat: no-repeat;
}
